$c-grey-100: #F2F2F7;
$c-grey-200: #E5E5EA;
$c-grey-300: #E8EBF3;
$c-grey-400: #C8C4CC;
$c-grey-500: #AEAEB2;
$c-grey-600: #8E8E93;
$c-grey-700: #6F7580;
$c-grey-800: #3B4048;
$c-grey-900: #222020;

// Spaces

// Typography
$family-primary: 'Poppins', sans-serif;
